{% extends 'base/base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'problemasProgramacao/geral.css' %}">
{% endblock static_css %}

{% block static_js %}
  <script src="{% static "problemasProgramacao/index.js" %}"></script>
{% endblock static_js %}

{% block content %}
<div class=" px-24 py-12">
  <form id="formSubmeterDesafio" method="post" action="{% url "api-submissao-desafio" object.pk %}" class="flex mx-auto max-h-screen min-h-screen h-full gap-8">
    {% csrf_token %}
    <input type="hidden" name="problema" value="{{object.pk}}">
    <input type="hidden" name="pessoa" value="{{request.user.pk}}">
    <aside class="text-white flex flex-col justify-between bg-slate-900 p-12 rounded-2xl">
      <div class="flex flex-col">
        <h1 class="text-2xl mb-8 font-bold">{{ object.titulo }}</h1>
        <div class="space-y-2">
          <p>
            <strong>Linguagem: </strong> Python
          </p>
          <div class="flex flex-col gap-4">
            <p>
              <strong>Estimativa: </strong> {{ object.estimativa|floatformat:0 }}min
            </p>
      
            <p>
              {% if object.dificuldade == 1 %}
                <span class="text-green-500">Básico</span>
              {% elif object.dificuldade == 2 %}
                <span class="text-yellow-500">Intermediario</span>
              {% else %}
                <span class="text-red-500">Dificil</span>
              {% endif %}
            </p>
    
            <p class=" w-96">
              {{ object.descricao}}
            </p>
          </div>
    
        </div>
        <div class="mt-8 w-96">
          <strong>Entrada:</strong>
    
          <div class="mt-2 rounded-xl bg-slate-800 p-4">
              <span>A entrada consiste em um valor inteiro positivo N.</span>
          </div>
        </div>
        <div class="mt-8 w-96">
          <strong>Saída:</strong>
    
          <div class="mt-2 rounded-xl bg-slate-800 p-4">
              <span>A entrada consiste em um valor inteiro positivo N.</span>
          </div>
        </div>
      </div>
  
      <button class="rounded-xl p-4 w-full bg-green-500 font-bold text-slate-900">Submeter <span id="containerLoadingButton"><span/></button>
    </aside>
    <div class="w-full">
      <pre class="editor p-12">
        # Escreva seu código aqui
        print('Olá, mundo')
      </pre>
      <textarea class="hidden" name="codigo"></textarea>
    </div>
  </form>
</div>
{% endblock content %}