{% extends 'base/base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'desafios/geral.css' %}">
{% endblock static_css %}

{% block content %}
<div class="flex container mx-auto min-h-screen flex-col items-center justify-between px-24 py-12">
    <section class="w-1/2">
        <h1 class="text-slate-50 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center">Desafios Resolvidos</h1>
        <br>
        <p class="text-slate-50">Para voltar para a página de problemas, <a href="{% url 'submeterTentativa' %}">clique aqui</a></p>
        <br>
        <ul class="text-slate-50">
            {% for problema in object_list %}
            <li>
                Titulo do Desafio:
                {{problema.titulo}}
            </li>
            <li>
                Saída Esperada:
                {{problema.solucao}}
            </li>
            <li>
                Sua Saída:
                {{codigo}}
            </li>
            
            <li>
                Dificuldade:
                {{problema.dificuldade}}
            </li>
            {% endfor %}
        </ul>

            
    </section>
</div>
{% endblock content %}