{% extends 'base/base.html' %}

{% block content %}

<div class="flex px-24 py-12 container mx-auto min-h-screen">
  <div class="w-2/3">
    <div class="text-white bg-slate-900 p-12 rounded-2xl">
      <div class="flex flex-col">
        <h1 class="text-2xl mb-8 font-bold">{{ object.titulo }}</h1>
        <div class="space-y-2">
          <div class="flex flex-col gap-4">
            <p class="w-96">
              {{ object.descricao}}
            </p>
          </div>
        </div>
        <div class="mt-8 w-96">
          <strong>Conteúdo da Trilha:</strong>
          {% for desafio in object.desafios.all %}
            <li>
              <h3>{{ desafio.titulo }}</h3>
              <p>{{ desafio.descricao }}</p>
              <br>
              <p>Dificuldade: {{ desafio.get_dificuldade_display }}</p>
              <br>
              <p>Estimativa de tempo: {{ desafio.estimativa }} minutos</p>
            </li>
          {% endfor %}
        </div>
        <div class="mt-8 w-96">
          <strong>Quiz da Trilha:</strong>
          <p>Total de submissões no quiz: {{ totalSubmissoes }}</p>
          <p>Porcentagem de respostas corretas: {{ porcentagemCorretas }}%</p>
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/3 ml-8">
    <div class="bg-slate-900 p-8 rounded-2xl">
      <h4 class="text-white font-bold">Dados do Usuário</h4>
      <div class="my-4 flex items-center gap-2">
        <img class="h-16 w-16" src="https://doodleipsum.com/100x100/avatar-2?i=560a7437a5808aa3102849d9e89fa0c5" alt="">
        <div>
          <strong class="text-white">{{ request.user.pessoa.nomeCompleto }}</strong>
        </div>
      </div>
      <div class="mt-8 bg-slate-800 p-4 rounded-xl text-white">
        <h3>Trilhas Disponíveis</h3>
        
        <ul class="space-y-2 mt-4">
          {% for trilha in trilhasDisponiveis %}
          <li class="w-full">
                  <a class="w-full block text-center rounded-xl bg-green-500 p-4 text-slate-900 font-bold block" href="{% url 'trilha-detail' trilha.pk %}">
                    {{ trilha }}
                  </a>
              </li> 
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
