@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

.editor {
    display: block;
    position: relative;
    min-height: 200px;
    height: 100%;
}

.opcao-quiz {
  border: 2px solid transparent;
}

input:checked ~ .opcao-quiz, .opcao-quiz:hover {
  cursor: pointer;
  border: 2px solid rgb(34 197 94 / var(--tw-bg-opacity));
}

.font-instrument-sans {
  font-family: 'Roboto Mono', monospace;
}