<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />

  {% block static_css %}{% endblock static_css %}

  <title>
    {% block title %}CodeJunior | App{% endblock title %}
  </title>
</head>
<body>
  <main class="bg-slate-800">
    {% block content %}{% endblock content %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  {% block static_js %}{% endblock static_js %}

</body>
</html>