{% extends 'base/base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'problemasProgramacao/geral.css' %}">
{% endblock static_css %}

{% block static_js %}

{% endblock static_js %}


{% block content %}

<div class="flex container mx-auto min-h-screen flex-col px-24 py-12 text-zinc-50 ">
  <section class="flex flex-col gap-8 items-center">
    <h1 class="max-w-4xl text-6xl text-center font-bold">
      Programe o seu <span class="text-green-500">futuro</span> agora!
    </h1>

    <p class="text-center max-w-3xl">Nossa idéia é proporcionar acesso a uma plataforma de ensino de programação lúdica para pessoas de diversas idades e níveis de habilidade, independentemente de sua localização ou recursos.</p>
  </section>

  <section class="bg-slate-700 p-12  rounded-2xl flex items-center gap-8 mt-24">
    <div class="-w-md">
      <h2 class="font-bold text-2xl">Explore e aprimore suas habilidades.</h2>
      <p class="my-4">Cada ideia começa com uma linha de código. Prepare-se para o trabalho, aprimore suas habilidades junto a uma comunidade global de desenvolvedores. Tenha acesso ao conteúdo essencial para desenvolver novas habilidades.</p>

      <a class="p-4 px-8 mt-4 text-center rounded-2xl bg-green-500 text-slate-900 font-bold inline-block" href="{% url 'cadastro' %}"><span>Cadastrar-se e praticar</span> <i class="ml-2 fa-solid fa-arrow-right"></i></a>
    </div>

    <div>
      <img src="https://cdn.sanity.io/images/tlr8oxjg/production/9f15109746df254c5a030a7ba9239f8a4bb5dadb-1456x816.png?w=1280&q=100&fit=clip&auto=format" class="rounded-2xl" alt="">
    </div>
  </section>
</div>
{% endblock content %}